<div class="leaderboard">
  <div class="tableFrame">
    <br><br>
    <h1>Highscores</h1>
    <br><br>
  <table>

    <th>Username</th>
    <th>Score</th>
<% @users.limit(40).each do |user| %>

<tr>
      <td>  <%= user.user_name %></td>
      <td>  <%= user.score %></td>
  </tr>

<% end %>
</table>
<br><br>
</div>
