<div class="hub">
    <ul class="grid-icons">
        <li>
          <%= link_to '/explore/map' do %>
          <div class="outer">
            <div class="inner">
                <i class="material-icons">explore</i>
                <h3>Explore</h3>
            </div>
          </div>
          <% end %>
        </li>
        <li>
          <%= link_to '/invaders/new' do %>
          <div class="outer">
            <div class="inner">
                <i class="material-icons">add_location</i>
                <h3>Add an Invader</h3>
            </div>
          </div>
        <% end %>
        </li>
        <li>
            <%= link_to '/leaderboard/show' do %>
          <div class="outer">
            <div class="inner">
                <i class="material-icons">star</i>
                <h3>Leaderboard</h3>
            </div>
          </div>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path do %>
          <div class="outer">
            <div class="inner">
              <i class="material-icons">account_circle</i>
                <h3>Your Account</h3>
            </div>
          </div>
          <% end %>
        </li>

    </ul>
</div>
