<div class="hub">
    <ul class="grid-icons">
        <li>
          <div class="outer">
            <div class="inner">
                <i class="material-icons">explore</i>
                <h3>Explore</h3>
            </div>
          </div>
        </li>
        <li>
          <%= link_to '/invaders/new' do %>
          <div class="outer">
            <div class="inner">
                <i class="material-icons">add_location</i>
                <h3>Add an Invader</h3>
            </div>
          </div>
        <% end %>
        </li>
        <li>
          <div class="outer">
            <div class="inner">
                <i class="material-icons">star</i>
                <h3>Leaderboard</h3>
            </div>
          </div>
        </li>
        <li>
          <div class="outer">
            <div class="inner">
                <i class="material-icons">language</i>
                <h3>World Rank</h3>
            </div>
          </div>
        </li>
        <li>
          <div class="outer">
            <div class="inner">
              <i class="material-icons">account_circle</i>
                <h3>Your Account</h3>
            </div>
          </div>
        </li>
        <li>
          <div class="outer">
            <div class="inner" id="fullscreen">
              <i class="material-icons">school</i>
                <h3>Tutorial</h3>
            </div>
            <script>
            var fullscreen = document.getElementById('fullscreen');
            fullscreen.addEventListener('click', function(){
              if(document.body.requestFullscreen) {
    document.body.requestFullscreen();
  } else if(document.body.mozRequestFullScreen) {
    document.body.mozRequestFullScreen();
  } else if(document.body.webkitRequestFullscreen) {
    document.body.webkitRequestFullscreen();
  } else if(document.body.msRequestFullscreen) {
    document.body.msRequestFullscreen();
  }
            });
            </script>
          </div>
        </li>
    </ul>
</div>
