<div class="tutorial">
  <br>
<h1>How to play<h1>
<br>
<div class="tutorialBlock">
<h2>Create an Invader</h2>
<hr>
<p>Make sure that Location Services are Enabled</p><br>
<ol type="1">
  <li><p>Set a unique name</p></li>
  <li><p>Create a optical description of the Invader</p></li>
  <li><p>Give Hints on how to find the Invader</p></li>
  <li><p>Tap on "Get Location" and wait for it to be done</p></li>
  <li><p>Tap on "Upload Image" to upload your best shot of the Invader</p></li>
  <li><p>Submit to Upload the Invader</p></li>
</ol>
<hr>
<a href="https://goo.gl/7dG3NE" target="_blank">Video tutorial</a>
<br>
</div>
<br><br>
<div class="tutorialBlock">
<h2>Find an Invader</h2>
<hr>
<p>Make sure that Location Services are Enabled</p><br>
<ol type="1">
  <li><p>Choose the Invader on the map from the "Explore" screen</p></li>
  <li><p>Tap on "Get Location" and wait for it to be done</p></li>
  <li><p>Tap on "Upload Image" to upload your best shot of the Invader</p></li>
  <li><p>Submit and wait for the Results</p></li>
</ol>
<hr>
<a href="https://goo.gl/T15Dzd" target="_blank">Video tutorial</a>
<br>
</div>
<br><br>
</div>
