
		<!-- Page Wrapper -->
		<div class="welcome">
			<div id="page-wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Banner -->
							<section id="banner">
								<header>
									<h2>Invaded World</h2>
									<p>An augmented reality game you can touch</p>
								</header>
								<footer>
										<h3>&downarrow; Mehr erfahren &downarrow; </h3>
									<ul class="actions">
										<li><a href="/play/hub" class="button">Spiele Jetzt</a></li>
									</ul>

								</footer>
							</section>

						<!-- One -->
							<section id="one" class="features">
								<header class="major">
									<h2>Invaded World the Game</h2>
									<p>Games waren schon immer Kunst, nun ist Kunst ein Spiel</p>
								</header>
								<div class="content">
									<section class="feature">
										<span class="icon major fa-compass"></span>
										<h3>Entdecke</h3>
										<p>Entdecke die Städte die du besuchst auf eine unterhaltsame und abwechslungsreiche Art, ohne den Drat zur wirklichkeit zu verlieren. Dank Augemented Reality. </p>
									</section>
									<section class="feature">
										<span class="icon major fa-share-alt"></span>
										<h3>Teile</h3>
										<p>Teile Kunst mit der Ganzen Welt und hilf mit die Invasion am leben zu halten</p>
									</section>
									<section class="feature">
										<span class="icon major fa-diamond"></span>
										<h3>Führe</h3>
										<p>Führe deine Lokale Rangliste an oder arbeite dich gar zum World Champion vor</p>
									</section>
								</div>
							</section>

							<!-- Five -->
								<section id="five" class="cta">
									<header>
										<h2>Invaded</h2>
										<p>Spiele Jetzt!<br> Kein Download oder Installation notwendig</p>
									</header>
									<ul class="actions">
										<li><a href="#" class="button big">In kürze</a></li>
									</ul>
								</section>

						<!-- Two -->
							<section id="two" class="spotlight">
								<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
									<h2>Wer ist Invader?
</h2>
									<p>
                    Er definiert sich als UFA, ein Unidentified Free Artist. Er wählte Invader als sein Pseudonym und erscheint immer hinter einer Maske. Dadurch kann er seine eigenen Ausstellungen besuchen, ohne dass Besucher wissen, wer er wirklich ist, auch wenn er nur wenige Schritte von ihnen entfernt ist. Seit 1998 hat er ein Grossprojekt entwickelt, Codename: Space Invaders.
                  </p>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="spotlight alt">
								<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
									<h2>Über das Space Invaders Projekt</h2>
									<p>

                    Es geht vor allem darum, die Kunst von ihren üblichen Entfremdungen zu befreien, die Museen oder Institutionen verursachen können. Aber es geht auch darum, die Space Invaders aus ihren Videospielen zu befreien und sie in unsere physische Welt direkt an die Wände zu bringen. Invader hatte dann die Idee, seine Kreaturen an den Wänden von Paris und bald danach in Städten rund um den Globus einzusetzen. Jedes dieser einzigartigen Stücke wird zum Fragment einer monumentalen Installation.

                    </p>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="spotlight">
								<div class="image"><img src="images/pic04.jpg" alt="" /></div><div class="content">
									<h2>Was unterscheidet uns von Flash Invaders</h2>
									<p>Die Welt ist kein Museum, Kunst auf der Strasse wird verändert oder gar zerstört. Mit Flash Invaders kann dieser Dynamische Prozess nicht festgehlaten noch darauf reagiert werden. Invaded World basiert auf einer Community die stets diesen Prozess unter Kontrolle hat und es dem Künstler ermöglichen schäden zu reparieren.</p>
								</div>
							</section>

						<!-- Five -->
							<section id="five" class="cta">
								<header>
									<h2>Invaded</h2>
									<p>Spiele Jetzt!<br> Keine Installation oder Download notwendig</p>
								</header>
								<ul class="actions">
									<li><a href="#" class="button big">in kürze</a></li>
								</ul>
							</section>

					</div>


			</div>
		</div>
