/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */

  @import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600');

/* Maps Api cleaner *********** */

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}


 /* Reset */

 	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
   {
 		margin: 0;
 		padding: 0;
 		border: 0;
 		font-size: 100%;
 		font: inherit;
 		vertical-align: baseline;
 	}

 	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
 		display: block;
 	}

 	body {
 		line-height: 1;
 	}

 	ol, ul {
 		list-style: none;
 	}

 	blockquote, q {
 		quotes: none;
 	}

 	blockquote:before, blockquote:after, q:before, q:after {
 		content: '';
 		content: none;
 	}

 	table {
 		border-collapse: collapse;
 		border-spacing: 0;
 	}

 	body {
 		-webkit-text-size-adjust: none;
 	}

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


/* default classes */

body {
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.hidden {
  display: none;
}

.centerContent {
  width: 100%;
  height: 100vh;
  display: table;
}

.centered {
  display: table-cell;
  vertical-align: middle;
}

.centerText {
  text-align: center;
}

.overFlowHidden {
  overflow: hidden;
}

.txtAlignCenter {
  text-align: center;
}

.links {
  color: black;
  text-decoration: none;
  font-weight: 100;
  border-bottom: 1px dotted black;
  font-size: .9em;
}

/* fonts ****************/

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.3em;
  font-weight: 100;
}

h2 {
  font-size: 1.1em;
  font-weight: 100;
  margin-bottom: 5px;
}

/* devise classes */

.devise h2 {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.25em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-size: 1.35em;
  line-height: 1.2em;
}

.devise p {
  color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 1em;
    margin: 0 0 2em 0;
}

.devise .loginBox {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.6);
  text-align: left;
  padding: 50px;
  color: white;
}

	@media screen and (max-width: 980px) {
    .devise .loginBox {
      padding: 50px 20px 50px 20px;
    }
  }

.devise a {
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  line-height: 1.5em;

}

.devise .deviseInput {
  -moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
background: rgba(207, 201, 214, 0.035);
border-radius: 8px;
border: none;
border: solid 1px grey;
color: inherit;
display: block;
outline: 0;
padding: 0 1.5em;
font-size: 100%;
text-decoration: none;
width: 100%;
height: 2.75em;
margin: 15px 0 15px 0;
font-weight: 100;
}

.devise .deviseLogin {
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px #4c4b4d !important;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 300;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.35em;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  text-indent: 0.25em;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 15px 0 10px 0;
}

/* Navigation ********************* */

nav .nav {
  width: 100%;
  background-color: #333333;
  height: 45px;
  padding: 10px 20px 10px 20px;
  position: fixed;
  bottom: 0;
  color: white;
  z-index: 999999;
}

nav a {
  color: white;

}

nav .navLeft {
  width: 10%;
  float: left;


}
nav .navCenter {
  width: 80%;
  float: left;
  padding: 5px;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav .navRight {
  width: 10%;
  float: left;
  text-align: right;

}

/* Forms ********************** */

.formFrame {
  min-height: calc(100vh - 100px);
  background-color: rgba(0,0,0,0.7);
}

.formBox {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;

  text-align: left;
  padding: 50px;
  color: white;
}

.formInput {
  -moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
background: rgba(207, 201, 214, 0.035);
border-radius: 8px;
border: none;
border: solid 1px grey;
color: inherit;
display: block;
outline: 0;
padding: 0 1.5em;
font-size: 100%;
text-decoration: none;
width: 100%;
height: 2.75em;
margin: 15px 0 15px 0;
font-weight: 100;
}

.formSubmit {
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px #4c4b4d !important;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 300;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.35em;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  text-indent: 0.25em;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 15px 0 10px 0;
}

.formBtn {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border: solid 1px #4c4b4d !important;
  color: #000 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 300;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.35em;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  text-indent: 0.25em;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 5px 0 10px 0;
  width: 100%;
}

.imgBtn {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.imgBtnMask {
  position: relative;
}
