
.exploreMap {
  width: 100%;
  height: calc(100vh - 45px);

}

.invaderOverlay {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 45px);
    z-index: 100;
    top: 0;
    display: table;
    display: none;
}

.invaderOverlayInner {
  display: table-cell;
  vertical-align: middle;

}

.invaderSpecs {
  padding: 20px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  position: relative;
}

.invaderSpecs h1 {
  font-size: 1.5em;
}
.invaderSpecs h2 {
  font-size: 1em;
}
.invaderSpecs p {
  font-size: 0.8em;
}

.btnClose {
  position: absolute;
  right: 20px;
  top: 20px;
}
