.exploreMap {
    width: 100%;
    height: calc(100vh - 45px);

}

/* Invader spec Styles ************** */

.invaderImageFrame {
  width: 100vw;
  height: auto;
  background-color: rgb(50, 50, 50);
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.invaderImage {
  max-width: 100vw;
  max-height: 30vh;
}

.showInvaderSpecs {
  background-color: rgba(255, 255, 255, 1);;
  min-height: calc(100vh - 45px);
  color: black;
}

.invaderText {
  width: 100vw;
  padding: 20px 20px 0 20px;
}

.invaderFrame {
  padding: 40px 20px 20px 20px;
}

.formFrame {
  min-height: 100vh;
  color: white;
}

.invaderFrame h1 {
  text-align: center;
}
