.leaderboard {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}

h1 {
  color: white;
}

.tableFrame {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px 20px 20px 20px;
    background-color: rgba(218, 255, 128, 1);
}

th {
  padding: 20px 0 20px 0;
  background-color: rgba(218, 255, 128, 1);
  border-radius: 20px 20px 0 0;
}

td{
  padding: 20px 0 20px 0;
  background-color: rgba(255, 255, 255, 0.9);
}
