.leaderboard {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

h1 {
  color: white;
}

.tableFrame {
  max-width: 500px;
  width: calc(100% - 5px);
  margin: 0 auto;
  padding: 5px;
}
table {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 20px 20px 20px;
    background-color: rgba(218, 255, 128, 1);
}

th {
  padding: 15px 0 15px 0;
  background-color: rgba(218, 255, 128, 1);
  border-radius: 20px 20px 0 0;
}

td{
  padding: 15px 0 15px 0;
  background-color: rgba(255, 255, 255, 1);
}
