.hub {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.hub .grid-icons {
  width: 100%;
  font-size: 0;
}

.hub .grid-icons li {
  width: 50vw;

  display: inline-block;
  height: 50vw;
}

.hub .grid-icons li .outer{
  font-size: 16px;
  color: white;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;

}

.hub .grid-icons li .inner{
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-weight: 100;

}

.hub .grid-icons i {
  color: white;
  font-size: 50px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.tutorial {
  min-height: 100vh;
  width: calc(100% - 0px);
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

ol {
  list-style: decimal;
  margin-left: 20px;
}

ol li {
  margin: 10px 5px 10px 5px;
}

.tutorialBlock {
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  color: black;
  padding: 10px;
}
