.hub {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.hub .grid-icons {
  width: 100%;
  font-size: 0;
}

.hub .grid-icons li {
  width: 50vw;

  display: inline-block;
  height: 50vw;
}

.hub .grid-icons li .outer{
  font-size: 16px;
  color: white;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;

}

.hub .grid-icons li .inner{
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-weight: 100;

}

.hub .grid-icons i {
  color: white;
  font-size: 50px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}
