
<div class="formFrame">
<div class="centerContent">
  <div class="centered">
    <div class="formBox">
      <div class="centerText">

      <div class="centerText">
<%= render 'form' %>

<%= link_to 'Back', invaders_path %>

</div>
</div>
</div>
</div>
</div>
</div>
