<div class="formFrame">
<div class="centerContent">
  <div class="centered">
    <div class="formBox" style="text-align:center">
<h1 id="notice"><%= notice %></h1>
<br>
  <p>Your Score:  <%= current_user.score %></p><br>
  <p>Your credibility:  <%= current_user.credibility %></p>
</div>
</div>
</div>
</div>
