<div class="devise">
<div class="centerContent">
  <div class="centered">
    <div class="loginBox">
      <div class="centerText">
<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>
</div>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
</div>
</div>
</div>
