<div class="devise">
<div class="centerContent">
  <div class="centered">
    <div class="loginBox">
      <div class="centerText">
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

</div>
</div>
</div>
</div>
</div>
